 .spinner{
    animation-name: girar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: forwards;
    animation-play-state: running;
}

@keyframes girar{
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}
