body {
    text-align: center;
    background-color: #5c8900;
    font-family: 'VT323', monospace;;
    font-size: large;
}
img {
    width: 400px;
}

li::marker {
    content: none;
}

h1 {
    text-shadow: 5px 10px 1px #e81224;
}

a {
    border: 5px solid #9400D3;
    background-color: #9400D3;
    border-radius: 40%;
    color: white;
}

a:hover {
    opacity: 0.6;
}